
body{
    background-color: #F0A04B;
}


.header{
    width: 1200px;
    height: 50px;
    background-color: transparent;
    border: transparent;
    padding: 10px ;
    margin: 2% 10%;
}

.header text{
    font-size: 40px;
    font-weight: bold;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;;
    color: #E86A33;
}

.header nav{
    display: flex;
    padding: 0% 1%;
    align-items: stretch;
}

.header nav img{
    background-color: transparent;
    width: 100px;
    height: 100px;
    position: relative;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;;
    list-style: none;
    display: inline-block;
    padding: 5px 12px;
    position: relative;
    font-weight: bold;
}

.nav-links ul li a{
    font-size: 20px;
    color: #263A29;
    text-decoration: none;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #263A29;
    display: block;
    margin: auto;
    transition: 0.8s;

}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 40%;
    color: #263A29;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.text-box h1{
    font-size: 30px;
}

.text-box p{
    margin: 10px 0 30px;
    font-size: 20px;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #E86A33;
    border: 5px transparent;
    padding: 5px 40px;
    font-size: 20px;
    background-color: #263A29;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    font-weight: bolder;
}

.hero-btn:hover{
    background-color: #E86A33;
    color: #263A29;
    transition: 0.5s;
}

nav .fa-solid{
    display: none;
}



/* CONFIGURACIONES MOBILE */

@media only screen and (max-width:500px){

    .header{
        margin: 2% 2%;
        flex-direction: column;
        height: auto;     
        justify-content: center;   
    }
    
    .header nav{
        padding: 0% 10%;
        order: 2;
        margin-top: 20px;
    }

    .header nav img{
        width: 10%;
        height: auto;
    }

    .text-box{
        padding: 0 10%;
        top: 30%;
        left: 45%;
        order: 1;
        width: 80%;
        margin-top: 10px;
        justify-content: center;   
    }

    .text-box h1{
        font-size: 20px;
        text-align: center;
    }

    .text-box p{
        font-size: 15px;
        text-align: center;
    }

    .nav-links ul li{
        display: block;
    }

    .nav-links{
        position: absolute;
        background: #E86A33;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }


}



