
body{
    background-color: #E3CCAE;
    font-family: "Roboto Mono", monospace;
    margin: 0;
    padding: 0;
    width: 100%;
}

html {
    scroll-behavior: smooth;
  }  

.first-container{ 
    height: 100vh;
}

.second-container{
    background-color: #262A56;
    height: 100vh;
    position: relative;
}

.third-container{
    background-color: #E86A33;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.fourth-container{
    justify-content: center;
    align-items: center;
    background-color: #262A56;
    height: 25vh;
    flex-direction: row;

} 



/* FIRST CONTAINER */


.header{
    width: 1200px;
    height: 50px;
    background-color: transparent;
    border: transparent;
    padding: 10px ;
    margin: 2% 10%;
}

.header text{
    font-size: 40px;
    font-weight: bold;
    color: #E86A33;
}

.header nav{
    display: flex;
    padding: 0% 1%;
    align-items: stretch;
}

.header nav img{
    background-color: transparent;
    width: 100px;
    height: 100px;
    position: relative;
}


/* ------menu links---- */

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 5px 12px;
    position: relative;
    font-weight: bold;
}

.nav-links ul li a{
    font-size: 20px;
    color: #E86A33;
    text-decoration: none;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #E86A33;
    display: block;
    margin: auto;
    transition: 0.8s;

}

.nav-links ul li:hover::after{
    width: 100%;
}


/* ------text box--- */

.text-box{
    width: 50%;
    color: #E86A33;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 30px;
}

.text-box p{
    margin: 10px 0 30px;
    font-size: 20px;
}


/* ----button----- */

.hero-btn{
    display: inline-block;
    text-decoration: none;
    padding: 5px 30px;
    font-size: 20px;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    font-weight: bolder;    
    color: #E3CCAE;
    background-color: #E86A33;
    transition: 0.2s ease-in-out;

}

.hero-btn:hover{
    background-color: #c95929;
}

nav .fa-solid{
    display: none;
}

/* SECOND CONTAINER */


/* -----about me------ */

.about-me{
    position: absolute;
    top: 0%;
    left: 10%;
    width: 50%;
    text-align: left;
    padding-top: 50px;
}

.about-me h2{
    font-size: 40px;
    color: #E3CCAE;
}

.about-me p{
    font-size: 30px;
    color: #000000;
    font-weight: bolder;
    margin-top: 40px;
    margin-bottom: 0;
    line-height: 60px;
}

.about-me h4{
    font-size: 20px;
    margin-left: 40%;
    margin-top: 0;
}

.second-container img{
    position: absolute;
    top: 30%;
    right: 10%;
    width: 300px;
    max-width: 100%;
    height: auto;    
    margin-left: 70%;
    border-radius: 40px;
    transition: transform 0.3s ease;
}

.second-container img:hover{
    transform: scale(1.1);
}


/* THIRD CONTAINER */



/* ---main logos--- */

.main-logos{
    position: absolute;
    flex-direction: column;
    column-count: 2;
    gap: 80px;
    margin-top: 80px;
    margin-left: 50%;
}

.main-logos div:first-child{
    transform: translateY(-150%) translateX(-10%);
}

.main-logos div:nth-child(2){
    transform: translateY(-90%) translateX(20%);;
}

.main-logos div:last-child {
    transform: translateY(-90%) translateX(-30%);
}
  
.main-logos img{
    width: 100px;
    height: auto;
}



/* ----other logos---- */


.other-logos{
    flex-direction: column;
    column-count: 2;
    gap: 100px;
    margin-top: 600px;
    margin-left: 400px;
    margin-bottom: 50px;

}

.other-logos div:first-child{
    transform: translateY(-100%) translateX(130%);
}

.other-logos div:nth-child(2){
    transform: translateY(-140%) translateX(-10%);;
}

.other-logos div:last-child {
    transform: translateY(-120%) translateX(-20%);
}
  
.other-logos img{
    width: 100px;
    height: auto;
}


.third-container h3{
    font-size: 20px;
    margin-top: 600px;
    color: #000000;
}

.third-container a{
    color: #000000;
    transition: 0.3s ease-in-out;
}

.third-container a:hover{
    color: #E3CCAE;
}



/* FOURTH CONTAINER */

.social{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.social img{
    width: 50px;
    padding: 10px;
}

.mail{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


.mail a{
    text-decoration: none;
    font-size: 25px;
    color: #E3CCAE;
}   





 /* --------MEDIA QUERIES------- */

@media only screen and (max-width:480px){

    html,body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

/* ----FIRST CONTAINER--- */

    .first-container{
        position: relative;
        width: 100%;
        overflow: hidden;
        padding-left: 0;
        padding-right: 0;
    }

    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        z-index: 9999;
        display: none;
        pointer-events: none;
    }

    .menu-open .overlay{
        display: block;
    }

    .header{
        width: 100%;
        justify-content: center;   
        margin-right: auto;
        margin-left: auto;
        padding: 10px;
        max-width: 1200px;
    }
    
    .header nav{
        order: 2;
    }

    .header nav img{
        width: 80px;
        height: 80px;
    }

    .text-box{
        position: relative;
        width: 80%;
        justify-content: center;
        align-items: center; 
        padding-left: 15px;
        padding-right: 15px;
    }

    .text-box h1{
        font-size: 25px;
        text-align: center;
    }

    .text-box p{
        font-size: 15px;
        text-align: center;
    }

    .nav-links{
        position: absolute;
        background: #E86A33;
        height: 300px;
        width: 150px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 10000;
        border-radius: 40px;
        transition: right 0.3s ease;
    }

    .nav-links ul{
        padding: 10px;
        line-height: 30px;
    }

    .nav-links ul li{
        display: block;
        line-height: 30px;
    }
    
    .nav-links ul li a{
        display: block;
        color: #000000;
    }

    .nav-links ul li::after{
        background-color: #000000;
    }

    nav .fa-solid{
        display: flex;
        font-size: 20px;
        cursor: pointer;
    }
    
    .xmark .fa-solid{
        margin: 50px 25px;
        color: #000000;
    }
    
    .bars .fa-solid{
        margin: 20px 190px;
        z-index: 10001;
        color: #E86A33;
    }

/* ------SECOND CONTAINER------ */ 

    .about-me{
        width: 80%;
        padding-top: 10px;
    }

    .about-me h2{
        font-size: 30px;
    }

    .about-me p{
        font-size: 25px;
        line-height: 40px;
    }

    .about-me h4{
        font-size: 20px;
    }

    .second-container img{
        display: none;
    }

  
/* ------THIRD CONTAINER----- */


/* ---main logos--- */


    .third-container{
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .main-logos{
        display: none;
    }

    /* ----other logos---- */


    .other-logos{
        display: none;
    }

    .third-container h2{
        width: 80%;
        font-size: 25px;
        align-items: center;
        text-align: center;
    }

    .third-container h3{
        display: none;

    }

/* ------FOURTH CONTAINER----- */

    .mail a{
        font-size: 20px;
    }

}



